<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="home.css">
<style = "text/css">



</style>


<title>

pastco
</title>

</head>

<body style="text-align: center; ">
<script type="text/javascript">



</script>
<div id="container">
	<header id="head">
<img src="" alt="mylogo" class="logo"><h2>VG- BLOCKS</h2>
				<nav id="navigation">
<ul id="list" >

<li><a href="UN.html">LOGIN INFO:</a></li>
&nbsp;&nbsp;

<li><a href="test.html">ABOUT</a></li>
</ul>

				</nav>
		</header>
		
	<hr />
	
	<div id="newdiv">
	<section id="contain">
		<article>
		<hgroup>
		<h1>VG- BLOCKS</H1> 
		<h2 name="eman">COMPUTER ACCESSORIES</h2>
		</hgroup>
		<p name="eman">We are into computer accessories and repairs, we are also into selling of brand new laptops accessories, keyboards, mouse, printers,etc...
		we provide the following services: 
		<ul class="flat">
		<li>NETWORKING</li><li>WEB DESIGNING</li>
		<li>PROGRAMMING</li>
		<li>ELECTRONICS</li>
		<li>HARDWARE</li>
		</ul></p>
		<footer name="eman">
		<em>-SOMTHING FINE</em>
		</footer>
		</article>
		
			<article>
			<hgroup>
		<h1>IDEAL IDEAS</H1> 
		<h2 name="eman">Making an awesome website</h2>
		</hgroup>
		<p>Check this out guys this sequence of images can be use to make great website from a nice looking hompage to a more complex page.</p>
		<br />
		<br />
		
		<hgroup style="text-align:center;"><img src="comp3.jpg" class="image">&nbsp; <img src="computer1.jpg" class="image"> &nbsp;<img src="comp2.jpg" class="image"> &nbsp;<img src="comp4.jpg" class="image"> </hgroup>
		
		<br />
		
		<p> You could also check this link for the more imagery. Who said skills are required to build nice websites.</p>
		<footer name="eman">
		<em>-SOMETHING FINE</em>
		</footer>
			</article>
	</section>
	<aside id="side">
	<article>
	
	<table class="table"  cellspacing="5px" cellpadding="10px">
<tr >
<td name="data" onclick="location.href=''" style="">
<span name="data">Victor has a new Dog <em> (view images)</em></span>
</td>
</tr>
<tr>
<td name="data" onclick="location.href='pastexam.html'" style="">
<span name="data">Book your 4d photoshoot now with a Graphic designer now</span>
</td>
</tr>
<tr>
<td name="data" onclick="location.href=''" style="">
<span name="data"><em>CLICK</em> Check out these links to pdf and online books for various courses</span>
</td>
</tr>
<tr>
<td name="data" onclick="location.href=''"  style="">
<span name="data">Make your website look awesome with IZ design</span>
</td>
</tr>
</table>
	
	</article>
	</aside>
</div>
<footer id="foot" >

	Copyright  2018 @  MOSCOW russia...

</footer>



<div >

</div>


</div>
</body>



</html>
