<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="first.css">
<style = "text/css">

#containe{
-webkit-box-orient:vertical;
	display:webkit-box;
	max-width:1320px;
	-webkit-box-flex:1;
	margin:20px 0px;
	border:no border;
	text-align:center;
	background-color:#f0f8ff;
	padding:10px;
}
#hea{
border:3px solid red;
	background:#4CAF50;
	padding:20px
}
#div1
{
text-align:left;
}
</style>



<title>


</title>

</head>

<body style="text-align: center; ">
<div id="containe">
	<header id="hea">
<img src="" alt="mylogo" class="logo"><h2>WELCOME TO VG LOGIN FORM</h2>
				<nav id="navigation">
<ul id="list" >
<li><a href="victorswag.html">HOME </a></li>&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="test.html">ABOUT</a></li>
</ul>

				</nav>
		</header>
		
	<hr />
	
	<div id="div1">
	CONTACT US ... at <br/>
	<i>TELL</i> : 0200802185 / 02748865211
	<br/>
	<B>EMAIL US AT : <i><a href="">vg@gmail.com</a></i></B>
	<br/ >
	 
	 </div>
	<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1 style="text-align:center;; color:#4CAF50;" >Sign Up</h1>
    <p ><em>Please fill in this form to create an account.</em></p>
    <hr>
	<br />
</head>
<body >
    <p><label for="email"><b>Email</b></label></p>
    <input type="text" placeholder="Enter Email" name="email" required>
<br />
<br />
    <p><label for="psw"><b>Password</b></label></p>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br />
<br />
    <p><label for="psw-repeat"><b>Repeat Password</b></label></p>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
<br />
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <br />
	<div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
	</body>
</html>



