<! doctype>
<html>
<head>
<style>

</style>
<link rel="stylesheet" type="text/css" href="cask.css"/>
</head>
<body>
<div id="container">
<header id="head">
<h3 style="text-decoration:underlined; background-color:black; color:white;">ABOUT DESIGNER</h3>
<nav id="navig">
<ul id="list">
<h2>
<li valign="bottom" onclick="location.href='victorswag.html'">BACK TO HOME </li>&nbsp;&nbsp;
</h2>
</ul>
</nav>
</header>
<br />
<hr />
<br />
<div id="divv">
<section id="contain">
<p style="">A skilled computer scientist with over 2 years of work experience in both the networking and programming field. I am both focused
 and customer orientated so that i complete my job no matter how challenging it may be. I am capable of providing solutions to 
 network related problems and I 
make sure to complete a specific task in the given amount of time. </p>
<table id="tab"  width="1000" >
<tr  style="font-weight:bold;font-family:tahoma;">
<th colspan="3"><I> CHECKOUT </I></th>
</tr>
<br/>
<tr>
<td>
<b>MUSICS</b>
</td>
<td>
<b>VIDEOS</b>
</td>
<td>
<b>IMAGES</b>
</td>
</tr>
<tr>

<td><i>sia - chandelier</i> </td>

<td> <video src=""><i>keep commin.vid</i></video> </td>

<td> <image src=""> <i>iz.image</i> </image> </td>


</tr>
<tr>
<td><a href="http:neww.html">ABOUT US</a></td><td><a href="http://facebook.com">CONTACT US</a></td>
</tr>
</tABLE>
<br /><p style="text-indent:30px; text-align:center-left;">hello everyone...welcome to this awesome website created by <a href="http://facebook.com" title="WANNA KNOW MORE"><h6 style="color:gray;font-weight=bold;font-family:arial;">victor</h6></a>
</p>
<div></div>
<div></div >

</section>
</div>
<footer id="foot"> copyright all reserved ownership....:@vtad6.rz  </footer>
</div>
</body>

</htmL>
